# toolchain.arm.android.config

if [[ "$USER" == builduser* ]]; then
    ENV_TOOLCHAIN_PATH=/opt
else
    ENV_TOOLCHAIN_PATH=/home/$USER/opt
fi

#Android 10 (API level 29): Recommended NDK Version: r21
#Android 11 (API level 30): Recommended NDK Versions: r21, r22, r23
#Android 12 (API level 31) & Android 12L (API level 32): Recommended NDK Versions: r23, r25b, r25c
#Android 13 (API level 33): Recommended NDK Versions: r25b, r25c

# Define NDK versions and their corresponding settings for 32-bit
if [[ "$ENV_NDK_VER" == "r17c" ]]; then
    ENV_ANDROID_ABI=armeabi-v7a
    ENV_ANDROID_PLATFORM=android-16
elif [[ "$ENV_NDK_VER" == "r21" ]]; then
    ENV_ANDROID_ABI=armeabi-v7a
    ENV_ANDROID_PLATFORM=android-29
elif [[ "$ENV_NDK_VER" == "r23c" ]]; then
    ENV_ANDROID_ABI=armeabi-v7a
    ENV_ANDROID_PLATFORM=android-30
elif [[ "$ENV_NDK_VER" == "r25b" ]]; then
    ENV_ANDROID_ABI=armeabi-v7a
    ENV_ANDROID_PLATFORM=android-31
elif [[ "$ENV_NDK_VER" == "r25c" ]]; then
    ENV_ANDROID_ABI=armeabi-v7a
    ENV_ANDROID_PLATFORM=android-31
else
    echo "Unsupported NDK version: $ENV_NDK_VER"
    return 1
fi

ENV_ANDROID_NDK=${ENV_TOOLCHAIN_PATH}/android-ndk-${ENV_NDK_VER}
ENV_ANDROID_TOOLCHAIN_FILE=${ENV_ANDROID_NDK}/build/cmake/android.toolchain.cmake