if(WIN32)
	set(CMAKE_C_COMPILER C:/msys64/mingw64/bin/gcc.exe)
	set(CMAKE_CXX_COMPILER C:/msys64/mingw64/bin/g++.exe)
	set(CMAKE_LINKER C:/msys64/mingw64/bin/ld.exe)
	set(CMAKE_NM C:/msys64/mingw64/bin/nm.exe)
	set(CMAKE_OBJCOPY C:/msys64/mingw64/bin/objcopy.exe)
	set(CMAKE_OBJDUMP C:/msys64/mingw64/bin/objdump.exe)
	set(CMAKE_RANLIB C:/msys64/mingw64/bin/ranlib.exe)
	set(CMAKE_MAKE_PROGRAM C:/ProgramData/chocolatey/bin/ninja.exe)
else()
	set(CMAKE_C_COMPILER /usr/bin/gcc)
	set(CMAKE_CXX_COMPILER /usr/bin/g++)
	set(CMAKE_LINKER /usr/bin/ld)
	set(CMAKE_NM /usr/bin/nm)
	set(CMAKE_OBJCOPY /usr/bin/objcopy)
	set(CMAKE_OBJDUMP /usr/bin/objdump)
	set(CMAKE_RANLIB /usr/bin/ranlib)
endif()